/* Profile Page start */
.sa-header-filters ul.dropdown-menu {
    padding: 0;
    border-radius: 0;
    max-width: 160px;
    box-shadow: none;
}


.sa-header-filters div#filters {
    position: relative;
}

.sa-header-filters button.dropdown-toggle {
    background-color: #fff;
    color: #555;
    border: none;
    background-color: transparent;
    font-weight: 600;
    padding: 10px 0px;
    text-transform: uppercase;
}

/* Profile Page end */